<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<select id="login"
			parameterType ="com.kh.spring.member.model.dto.MemberDTO"
			resultType ="com.kh.spring.member.model.dto.MemberDTO"
	>
	select
		 member_id 		memberId
		,member_pw 		memberPw
		,member_name 	memberName
		,email			
		,enroll_date	enrollDate
	from
		KH_MEMBER
	where
		member_id =#{memberId}

	
	
	</select>
	
	<select id="checkId"
			parameterType="string"
			resultType ="_int">
	select
		count(*)
	from
		KH_MEMBER
	Where
		member_id =	#{memberId}	
	
	</select>

	<insert id="signUp"
			parameterType="memberDTO">
		insert into
			KH_MEMBER
		values
			(
			#{memberId}
		, 	#{memberPw}
		,	#{memberName}
		,	#{email}
		,	SYSDATE
			)
	</insert>
</mapper>